.feed {
    min-height: 80vh;
    width: 1000px;
    padding: 12.5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12.5px;
}
.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}