*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: rgb(221,214,243);
  background: linear-gradient(0deg, rgba(221,214,243,1) 0%, rgba(255,255,255,1) 100%);
}
